<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="f-info sticky-bottom">
            <div class="f-info-social">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div>Wager Kings</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/term">Terms & Conditions</a>
            </div>
        </div>
    </footer>
</body>
</html>