<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-8" offset-2>
    <h2>Register Yourself</h2>
    <form method="post" action="/listings/new" class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="Worker Name" class="form-control" required>
        </div>
        <div class="mb-3">
        <label for="title" class="form-label">Description</label>
        <input type="text" name="listing[description]" placeholder="Write Description" class="form-control" required>
        </div>
        
        <div class="mb-3">
        <label for="Image" class="form-label">Image</label>
        <input type="file" name="listing[image]" placeholder="Enter Your Image Link" class="form-control" >
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="Price" class="form-label">Price</label>
                <input type="text" name="listing[price]" placeholder="Enter Your Rate" class="form-control" required>
                </div>
                <div class="mb-3 col-md-8">
                <label for="Location" class="form-label">Your Location</label>
                <input type="text" name="listing[location]" placeholder="Enter Your Preffred City" class="form-control" required>
                </div>
        </div>
       
        <div class="mb-3">
        <label for="Country" class="form-label">Your Country</label>
        <input type="text" name="listing[country]" placeholder="Enter Your Preffred City" class="form-control" required>
        </div>
        <button class="btn btn-dark">Register</button>
    </form>

</div>
</div>
